.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 75px;

    .logo_container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
        padding: 0px 15px;
        }
    }
}
